<h1 class="examples-title">Signin account</h1>
<md-content layout-padding>
  <form [ngFormModel]="projectForm">
    <md-input-container class="md-block">
      <label for="clientName">Email or Phone</label>
      <input md-input ngControl="clientName" id="clientName" [(value)]="model.clientName">
      <div md-messages="clientName" role="alert">
        <div md-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label for="clientEmail">Password</label>
      <input md-input type="password" ngControl="clientEmail" id="clientEmail" [(value)]="model.clientEmail"/>
      <div md-messages="clientEmail" role="alert">
        <div md-message>Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
      </div>
    </md-input-container>
    <md-input-container>
			<button _ngcontent-rmi-16="" class="md-raised md-primary" md-raised-button="">
				<span class="md-button-wrapper">
					Login
				</span>
			</button>
    </md-input-container>
  </form>
</md-content>